@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}
.ce-block__content,
.ce-toolbar__content {
  max-width: 860px;
}
html {
  scroll-behavior: smooth;
}
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
